
# Metals
.metals/
.bloop/
.vscode/
.bsp/

# Build artifacts
out/
generated-src/
firmware/*.bin
firmware/*.dis
firmware/*.elf
firmware/*.hex
firmware/*.coe
firmware/*.section
firmware/*.symbol

# Toolchains
toolchains/mill

# Vivado
vivado*.jou
vivado*.log
vivado*.str
.gen/
.srcs/
.ip_user_files/

# RISCV Tests
isa-tests/